<html>
<body>
  <head>
    <title>Customize Associations</title>
    <script src="angular.js"></script>
    <script src="angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
  </head>
  <body>
    <div ng-controller="ordersController">
      <p><u>Add a new order</u></p>
        <form name="associationsForm">
          <select ng-options="customer.name for customer in customers" ng-model="selectedCustomer" ng-value="customer._id">
            <!-- <option ng-repeat="player in players" value="{{player.name}}">{{player.name}}</option> -->
          </select>
          <input type="number" name="quantity" min="1" max="5">
          <!-- <input type="hidden" name="player" ng-value="selectedPlayer"> -->
          <select ng-options="order.name for order in orders" ng-model="selectedOrder" ng-value="order._id">
            <!-- <option ng-repeat="team in teams" value="{{team.name}}">{{team.name}}</option> -->
          </select>
          <input type='submit' value="Order" ng-click='addAssociation()'>
        </form>
        <table border=1>
          <thead>
            <tr>
              <th>Customer Name</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="assoc in associations track by $index">
              <td ng-bind="assoc.customer"></td>
              <!-- <td ng-bind="assoc.product"></td> -->
              <!-- <td><button ng-click='deleteAssociation(assoc)'>Delete Assoc</button></td> -->
            </tr>
          <tbody>
        </table>
    </div> <!--end of Controller -->
  </body>
</html>
